<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Thought &#8211; Murmuration Festival</title>
	<atom:link href="http://murmurationfest.com/event-category/thought/feed/" rel="self" type="application/rss+xml" />
	<link>http://murmurationfest.com</link>
	<description>Art. Music. Science. Tech.</description>
	<lastBuildDate>Thu, 22 Sep 2016 15:42:56 -0500</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Beyond Human &#8211;  Creativity and the Machine</title>
		<link>http://murmurationfest.com/lineup/beyond-human-creativity-machine/</link>
				<pubDate>Mon, 23 May 2016 14:43:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1057</guid>
				<description><![CDATA[<p>Gil Weinberg Founding Director Gil Weinberg is a professor and the founding director of Georgia Tech Center for Music Technology, where he leads the Robotic Musicianship group. His research focuses on developing artificial creativity and musical expression for robots and augmented humans. Among his projects are a marimba playing robotic [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/beyond-human-creativity-machine/">Beyond Human &#8211;  Creativity and the Machine</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div class="bio_image"><img class="alignleft wp-image-1389 size-medium" src="http://murmurationfest.com/wp-content/uploads/2016/05/weinberg-360x360.png" width="360" height="360" srcset="http://murmurationfest.com/wp-content/uploads/2016/05/weinberg-360x360.png 360w, http://murmurationfest.com/wp-content/uploads/2016/05/weinberg-120x120.png 120w, http://murmurationfest.com/wp-content/uploads/2016/05/weinberg.png 413w" sizes="(max-width: 360px) 100vw, 360px" /></div>
<div class="bio_content">
<h3>Gil Weinberg</h3>
<h6>Founding Director</h6>
<p>Gil Weinberg is a professor and the founding director of Georgia Tech Center for Music Technology, where he leads the Robotic Musicianship group. His research focuses on developing artificial creativity and musical expression for robots and augmented humans. Among his projects are a marimba playing robotic musician called Shimon that uses machine learning for Jazz improvisation, and a prosthetic robotic arm for amputees that restores and enhances human drumming abilities. Weinberg presented his work worldwide in venues such as The Kennedy Center, The World Economic Forum, Ars Electronica, Smithsonian Cooper-Hewitt Museum, SIGGRAPH, TED-Ed, DLD and others. His music was performed with Orchestras such as Deutsches Symphonie-Orchester Berlin, the National Irish Symphony Orchestra, and the Scottish BBC Symphony while his research has been disseminated through numerous journal articles and patents. Dr. Weinberg received his MS and PhD degrees in Media Arts and Sciences from MIT and his BA from the interdisciplinary program for fostering excellence in Tel Aviv University.</p>
</div>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/beyond-human-creativity-machine/">Beyond Human &#8211;  Creativity and the Machine</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Innovation’s Impact on Bringing Products to Market</title>
		<link>http://murmurationfest.com/lineup/innovations-impact/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1089</guid>
				<description><![CDATA[<p>There are several ways to bring products to market. With the democratization of maker-spaces, distribution through sites like Etsy, and consumers’ interest in understanding the story behind the product, people who make products have much more influence on how an item is developed, prototyped, refined, and launched. This panel explores [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/innovations-impact/">Innovation’s Impact on Bringing Products to Market</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>There are several ways to bring products to market. With the democratization of maker-spaces, distribution through sites like Etsy, and consumers’ interest in understanding the story behind the product, people who make products have much more influence on how an item is developed, prototyped, refined, and launched. This panel explores the process of bringing new products and fashions to market, ways to engage the end-user or consumer, and the importance of trial-and-error.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/innovations-impact/">Innovation’s Impact on Bringing Products to Market</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>The Art of Science: A Look Inside the Technology of Storytelling</title>
		<link>http://murmurationfest.com/lineup/technology-of-storytelling/</link>
				<pubDate>Tue, 17 May 2016 14:55:00 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=995</guid>
				<description><![CDATA[<p>Calum Pearson Vice President of Resident Shows Division Worldwide, Cirque du Soleil Calum is currently the Vice President of the Resident Show Division of Cirque du Soleil, where he is responsible for the operations of 9 multi-million dollar permanent theatre shows across the US. This is the second Vice Presidency [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/technology-of-storytelling/">The Art of Science: A Look Inside the Technology of Storytelling</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div class="bio_image"><img class="alignleft wp-image-1387 size-medium" src="http://murmurationfest.com/wp-content/uploads/2016/05/pearson-360x360.png" width="360" height="360" srcset="http://murmurationfest.com/wp-content/uploads/2016/05/pearson-360x360.png 360w, http://murmurationfest.com/wp-content/uploads/2016/05/pearson-120x120.png 120w, http://murmurationfest.com/wp-content/uploads/2016/05/pearson.png 413w" sizes="(max-width: 360px) 100vw, 360px" /></div>
<div class="bio_content">
<h3>Calum Pearson</h3>
<h6>Vice President of Resident Shows Division Worldwide, Cirque du Soleil</h6>
<p>Calum is currently the Vice President of the Resident Show Division of Cirque du Soleil, where he is responsible for the operations of 9 multi-million dollar permanent theatre shows across the US. This is the second Vice Presidency Calum has undertaken for Cirque du Soleil, previously being at the helm for their Technical Show Support division.</p>
<p>Calum served as Company Manager for KÀ, and was responsible for managing the day to day operations of Cirque du Soleil’s fourth permanent show in Las Vegas. With more than 300 cast and crew members from 18 different countries and a production cost of $200 million. Calum had his hands full when he joined KÀ in November 2004 just as the first public performances started and the creation process was still in an intense period. With over 25 years of operations and management experience in the entertainment industry, Calum brings a wealth of knowledge and leadership skills to Cirque du Soleil.</p>
<p>Prior to joining Cirque du Soleil, Calum spent 16 years touring with well known music productions including Bon Jovi and Van Halen, and family acts such as Disney on Ice. He progressed his responsibilities over the years from Lead Rigger, to Technical Director and Company Manager.</p>
<p>Calum, a native of England, and his wife Cory, have two young sons and live in Las Vegas.</p>
</div>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/technology-of-storytelling/">The Art of Science: A Look Inside the Technology of Storytelling</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Boom! Welcome to the Maker Revolution.</title>
		<link>http://murmurationfest.com/lineup/mark-hatch/</link>
				<pubDate>Wed, 04 May 2016 22:49:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=553</guid>
				<description><![CDATA[<p>Mark Hatch Co-Founder of TechShop Mark is Co-Founder of TechShop and a recognized leader in the global maker movement. Under his leadership, TechShop revenue grew 20-fold in five years and multiple new locations have opened across the US. Mark has held executive positions at firms including Kinko’s, Avery Dennison, and [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/mark-hatch/">Boom! Welcome to the Maker Revolution.</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div class="bio_image"><img class="alignleft wp-image-1377 size-medium" src="http://murmurationfest.com/wp-content/uploads/2016/05/hatch-360x360.png" width="360" height="360" srcset="http://murmurationfest.com/wp-content/uploads/2016/05/hatch-360x360.png 360w, http://murmurationfest.com/wp-content/uploads/2016/05/hatch-120x120.png 120w, http://murmurationfest.com/wp-content/uploads/2016/05/hatch.png 413w" sizes="(max-width: 360px) 100vw, 360px" /></div>
<div class="bio_content">
<h3>Mark Hatch</h3>
<h6>Co-Founder of TechShop</h6>
<p>Mark is Co-Founder of TechShop and a recognized leader in the global maker movement. Under his leadership, TechShop revenue grew 20-fold in five years and multiple new locations have opened across the US. Mark has held executive positions at firms including Kinko’s, Avery Dennison, and Health Net. In 2013, his book The Maker Movement Manifesto was released by McGraw-Hill Education.</p>
</div>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/mark-hatch/">Boom! Welcome to the Maker Revolution.</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Art’s Ability to Predict the Future</title>
		<link>http://murmurationfest.com/lineup/arts-ability-to-predict/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1081</guid>
				<description><![CDATA[<p>Michael Rees in conversation with Marilu Knode. Some believe art is a response to current reality; however, there have been times when art has played a predictive role in shaping the future. At the intersection of art and technology is the ability to challenge the constraints of the present and [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/arts-ability-to-predict/">Art’s Ability to Predict the Future</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<h6 class="p1">Michael Rees in conversation with Marilu Knode.</h6>
<p class="p1">Some believe art is a response to current reality; however, there have been times when art has played a predictive role in shaping the future. At the intersection of art and technology is the ability to challenge the constraints of the present and push forward with greater flexibility. The next time you experience art, think more about what it is saying about the future, than what it is saying about the past.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/arts-ability-to-predict/">Art’s Ability to Predict the Future</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Robots for the Rest of Us</title>
		<link>http://murmurationfest.com/lineup/robots-for-the-rest-of-us/</link>
				<pubDate>Mon, 23 May 2016 14:43:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1036</guid>
				<description><![CDATA[<p>Steve Cousins CEO of Savioke Steve Cousins is passionate about building and deploying robotic technology to help people. Before founding Savioke, he was the President and CEO of Willow Garage, where he oversaw the creation of the robot operating system (ROS), the PR2 robot, and the open source TurtleBot. In [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/robots-for-the-rest-of-us/">Robots for the Rest of Us</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div class="bio_image"><img class="alignleft wp-image-1372 size-medium" src="http://murmurationfest.com/wp-content/uploads/2016/05/cousins-360x360.png" width="360" height="360" srcset="http://murmurationfest.com/wp-content/uploads/2016/05/cousins-360x360.png 360w, http://murmurationfest.com/wp-content/uploads/2016/05/cousins-120x120.png 120w, http://murmurationfest.com/wp-content/uploads/2016/05/cousins.png 413w" sizes="(max-width: 360px) 100vw, 360px" /></div>
<div class="bio_content">
<h3>Steve Cousins</h3>
<h6>CEO of Savioke</h6>
<p>Steve Cousins is passionate about building and deploying robotic technology to help people. Before founding Savioke, he was the President and CEO of Willow Garage, where he oversaw the creation of the robot operating system (ROS), the PR2 robot, and the open source TurtleBot. In the last three years of his tenure there, Willow Garage spun off 8 companies:</p>
<ul>
<li>Suitable Technologies (maker of the Beam remote presence system)</li>
<li>Industrial Perception, Inc. (Acquired by Google in 2013)</li>
<li>Redwood Robotics (Acquired by Google in 2013)</li>
<li>HiDOF (ROS and robotics consulting)</li>
<li>Unbounded Robotics</li>
<li>The Open Source Robotics Foundation</li>
<li>The OpenCV Foundation</li>
<li>The Open Perception Foundation</li>
</ul>
<p>Steve is an active participant in the Robots for Humanity project. Steve has been a senior manager at IBM&#8217;s Almaden Research Center, and a member of the senior staff at Xerox PARC. Steve holds a Ph.D. from Stanford University, BS and MS degrees in computer science from Washington University, and earned a micro-MBA while at IBM.</p>
</div>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/robots-for-the-rest-of-us/">Robots for the Rest of Us</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Multi-Disciplinary Performance in a Multi-Media World</title>
		<link>http://murmurationfest.com/lineup/multi-disciplinary-performance/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1079</guid>
				<description><![CDATA[<p>Lauren Worsham and Kyle Jarrow in conversation with Sean Moeller. Brooklyn-based band Sky-Pony is known for their maximalist style, integrating diverse artistic media into their shows — including projections, costumes, choreography, narrative, and various performance art traditions. Band leaders Lauren Worsham and Kyle Jarrow have careers that straddle the worlds [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/multi-disciplinary-performance/">Multi-Disciplinary Performance in a Multi-Media World</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<h6 class="p1">Lauren Worsham and Kyle Jarrow in conversation with Sean Moeller.</h6>
<p class="p1">Brooklyn-based band Sky-Pony is known for their maximalist style, integrating diverse artistic media into their shows — including projections, costumes, choreography, narrative, and various performance art traditions. Band leaders Lauren Worsham and Kyle Jarrow have careers that straddle the worlds of music, theater and television, and they’ll discuss how this informs their multi-disciplinary approach and how digital platforms can enhance and promote work that blurs genre.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/multi-disciplinary-performance/">Multi-Disciplinary Performance in a Multi-Media World</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Social Enterprise: Profit, Prosperity and Lasting Impact</title>
		<link>http://murmurationfest.com/lineup/social-enterprise-profit-prosperity-lasting-impact/</link>
				<pubDate>Mon, 23 May 2016 14:43:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1017</guid>
				<description><![CDATA[<p>For-profit and non-profit social impact organizations are changing the lives of people around the world not through charity and philanthropy – but through dignified work, conscious consumers and real, live, sustainable economic growth. Hear from amazing St. Louisans who are impacting people in Africa, India, Haiti, and the Middle East, [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/social-enterprise-profit-prosperity-lasting-impact/">Social Enterprise: Profit, Prosperity and Lasting Impact</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p class="p1"><span class="s1">For-profit and non-profit social impact organizations are changing the lives of people around the world not through charity and philanthropy – but through dignified work, conscious consumers and real, live, sustainable economic growth. Hear from amazing St. Louisans who are impacting people in Africa, India, Haiti, and the Middle East, and truly changing communities around the world one life at a time.</span></p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/social-enterprise-profit-prosperity-lasting-impact/">Social Enterprise: Profit, Prosperity and Lasting Impact</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Big Data &#8211; Predictive Analytics</title>
		<link>http://murmurationfest.com/lineup/big-data-predictive-analytics/</link>
				<pubDate>Mon, 23 May 2016 14:43:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1015</guid>
				<description><![CDATA[<p>It’s more than a bunch of numbers. Predictive analytics is changing how companies think about its customers and will change what each of us expects for solutions to our problems. Today, healthcare, finance, consumer products, and agriculture are approaching business in an entirely new way.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/big-data-predictive-analytics/">Big Data &#8211; Predictive Analytics</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p class="p1">It’s more than a bunch of numbers. Predictive analytics is changing how companies think about its customers and will change what each of us expects for solutions to our problems. Today, healthcare, finance, consumer products, and agriculture are approaching business in an entirely new way.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/big-data-predictive-analytics/">Big Data &#8211; Predictive Analytics</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>How Digital is Changing the Meaning of Reality</title>
		<link>http://murmurationfest.com/lineup/digital-changing-meaning-reality/</link>
				<pubDate>Mon, 23 May 2016 14:43:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1007</guid>
				<description><![CDATA[<p>Mehrshad Mansouri and Blair MacIntyre in conversation with Nathan Pettyjohn. In the coming years, virtual reality and augmented reality will dramatically transform how we experience our world and will impact entertainment, enterprise, education, commerce and beyond. Hear from leaders who are shaping these environments discuss the biggest opportunities, biggest obstacles, [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/digital-changing-meaning-reality/">How Digital is Changing the Meaning of Reality</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<h6 class="p1"><span class="s1">Mehrshad Mansouri and Blair MacIntyre in conversation with Nathan Pettyjohn. </span></h6>
<p class="p1"><span class="s1">In the coming years, virtual reality and augmented reality will dramatically transform how we experience our world and will impact entertainment, enterprise, education, commerce and beyond. Hear from leaders who are shaping these environments discuss the biggest opportunities, biggest obstacles, and what we have to gain from this technology and content creation.</span></p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/digital-changing-meaning-reality/">How Digital is Changing the Meaning of Reality</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
