<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Music &#8211; Murmuration Festival</title>
	<atom:link href="http://murmurationfest.com/event-category/music/feed/" rel="self" type="application/rss+xml" />
	<link>http://murmurationfest.com</link>
	<description>Art. Music. Science. Tech.</description>
	<lastBuildDate>Mon, 09 Jan 2017 17:58:58 -0600</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Flying Lotus</title>
		<link>http://murmurationfest.com/lineup/flying-lotus/</link>
				<pubDate>Tue, 17 May 2016 19:15:38 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1120</guid>
				<description><![CDATA[<p>You see, no one likes talking about death. But Flying Lotus has never been one to lead the people on a simple journey. With You’re Dead! he has managed to create a shamanic pilgrimage into the psychedelic unknown of the infinite afterlife. At once reflective, restless, heart wrenching and joyous, [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/flying-lotus/">Flying Lotus</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>You see, no one likes talking about death.<br />
But Flying Lotus has never been one to lead the people on a simple journey.</p>
<p>With You’re Dead! he has managed to create a shamanic pilgrimage into the psychedelic unknown of the infinite afterlife. At once reflective, restless, heart wrenching and joyous, this is a melodic ode to those who have died young, suddenly and unexpectedly – those who have passed away into another realm completely – while also existing as a comfort to those mourning the loss of a loved one, those left behind in our here and now. You’re Dead! serves as an exploration, a eulogy and a portal between these parallel domains.</p>
<p>“My perspective comes from having lost a lot of people. A lot of my family members passed, but a lot of my colleagues passed away too soon,” says Flying Lotus. “I felt like in my own experiences, I wanted them to have this same sense of self.”</p>
<p>Musically, the album treats death as a transition from one experience to another, from one dimension of sound to another. Masterfully, Flying Lotus bathes death in the sensitive, affectionate light of a storyteller.</p>
<p>Flying Lotus takes listeners on a consciousness-fracturing journey as they follow those who’ve passed away as they embark on their tender new existences “on the other side.” This life in the new dimension is rife with excitement, adjustments and reconciliation for some who are struggling to make sense of how they got to the other side in the first place.</p>
<p>“The album isn’t about the end,” says Flying Lotus. “It’s really the beginning. It’s the beginning of a new experience,” he says. “It’s not hey you’re dead,” he says somberly. “It’s hey you’re dead!” he says with an uptick of enthusiasm. “To me it’s a celebration of the next experience. Also, it’s the transition and the confusion,” he adds. You’re Dead! is a hefty undertaking, but Flying Lotus aptly creates an engaging sonic delight, part spiritual carnival, part melancholic symphony, all the while coaxing listeners out of their fears of the unknown – and sometimes indulging those same fears. This aural procession through the afterlife does not trade on our clichéd catalog of pop-culture references to extinction. You won’t find grim reaper-referencing rote drama, or the pallid somber palette of reverential muzak. This is a sonic, visual and metaphysical fusion of technological innovation and technical virtuosity that amounts to a transcendent, mind-expanding plasm that could only exists between our world and another.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/flying-lotus/">Flying Lotus</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Tycho</title>
		<link>http://murmurationfest.com/lineup/tycho/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1124</guid>
				<description><![CDATA[<p>For nearly a decade, Tycho has been known as the musical alias of Scott Hansen, but with the release of Awake – his second LP for Ghostly International – the solo project has evolved into a three-piece band. Reaching an entire new realm of sonic possibilities this time out, Awake [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/tycho/">Tycho</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>For nearly a decade, Tycho has been known as the musical alias of Scott Hansen, but with the release of Awake – his second LP for Ghostly International – the solo project has evolved into a three-piece band. Reaching an entire new realm of sonic possibilities this time out, Awake is situated in the present, reaching Hansen’s vision of Tycho like never before. “This is, in many ways, the first true Tycho record.”</p>
<p>Following 2011’s Dive LP, the San Francisco, California based designer toured extensively, accompanied by a full band on stage, his sound coalesced into a percussive, organic whole. Zac Brown (guitars, bass) continued to join Scott on the road, but it was the particular addition of Rory O’Connor’s live drumming that ultimately sent Hansen back to the studio with a more precise vision for what the future of what Tycho could be. “After the tour, I decided that I wanted to capture the more energetic, driven sound of the live show on the next album,” Hansen recalls. Bringing musicians into Tycho’s creative process was a step towards expanding his own songwriting and advancing the project beyond its current incarnation.</p>
<p>In a cabin near Lake Tahoe last winter, Hansen and Brown began fleshing out the structure of the new record, but it wasn’t until they set up shop in the hills of Santa Cruz with O’Connor that it all fell into place. “It crystallized the vision of how the drums would come to the forefront on this record,” says Hansen. The sound was much more stripped-down and concise with live instruments coming to the forefront. Perhaps it was leading up to this all along, songs like “Montana” and “Awake” perfectly exemplify Tycho’s new, amped up, sound – unique to the group effort poured into the songs on the new record – while “See” and “Dye” echo ideas from previous works but with a clear with a view to the future. Working with Count Eldridge, who also engineered Dive, the team could fixate on the pulses that Tycho might have previously layered under synthesizers and exhume them with distinct bass and guitar patterns. Together they bridge an ethereal middle ground between old memories and new experiences, “While I grew up in California, I spent a lot of time as a kid in places like Colorado, Wyoming, New Mexico and Montana,” says Hansen, ”I got back in touch with those areas over the past few years and they inspired me a great deal.” Hansen went on to build those images into the foundation behind the artwork for Awake, “I created the cover art to be a symbol, or a flag, to represent this fictional region comprised of idealized elements of all these western states.”</p>
<p>Also known for his design work as ISO50, Hansen’s visual and sonic efforts have dovetailed throughout the course of his career. “This is the first time in my life I’ve dropped everything to focus on one artistic pursuit,” notes Hansen. Previous Tycho releases came to fruition from Hansen’s delicate solo approach to constructing a song, tweaking each peak and valley, but ‘Awake’ is three like-minded people coming together where music becomes the sole purpose and true expression becomes the result.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/tycho/">Tycho</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Deerhoof</title>
		<link>http://murmurationfest.com/lineup/deerhoof/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1143</guid>
				<description><![CDATA[<p>In 1992, Greg Saunier, recently graduated with a degree in music composition from Oberlin Conservatory of Music, joined a short-lived San Francisco quartet called Nitre Pit, on drums. In March 1994, when the two guitarists of this short-lived project departed suddenly, Greg and bassist Rob Fisk found themselves with several [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/deerhoof/">Deerhoof</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>In 1992, Greg Saunier, recently graduated with a degree in music composition from Oberlin Conservatory of Music, joined a short-lived San Francisco quartet called Nitre Pit, on drums. In March 1994, when the two guitarists of this short-lived project departed suddenly, Greg and bassist Rob Fisk found themselves with several booked shows and no idea what to do. Out of necessity they quickly concocted an elastic, hyper-expressive style to make up for their stark instrumentation, and Deerhoof was born.</p>
<p>Though seen by few, Deerhoof soon developed a reputation in Bay Area musicians&#8217; circles as some of the wildest and weirdest music in the underground. But ironically their most pivotal early experience would occur in the very heart of &#8220;love rock&#8221; territory, at the 1995 Yo Yo A Go Go Festival in Olympia, WA, in front of an audience instantly polarized by Deerhoof&#8217;s jarring ferocity. In the audience was Slim Moon, founder of the independent Olympia record label Kill Rock Stars. Moon signed Nitre Pit (as they were still called at that point) on for one 7&#8243; single, at which point the duo renamed themselves Deerhoof.</p>
<p>The name came from the title of a brief tape Rob had recorded in winter 1993, of improvised bass and harmonica solos. It was released in an edition of just 5 copies, and featured fallen leaf fragments glued to recycled Billy Squier promotional cassettes, then spray-painted in black and gold.</p>
<p>The duo, budget-less, recorded themselves on Greg&#8217;s four-track and released &#8220;Return of the Wood M&#8217;lady&#8221; (1995, Kill Rock Stars). Its distorted bass, heavy drums, and dark tone revealed the influence of Japanese psychedelic trio Fushitsusha, San Francisco noise band Caronliner, and Nirvana. Side B was especially cacophonous, presenting separate songs in the left and right channels. Rob drew the cover art, which was then xeroxed for the release. He also etched into the vinyl master at the mastering session, his drawings appearing on the record in place of a label. The single did not sell well, but Deerhoof&#8217;s do-it-yourself ethic turned out to be an apt match with Kill Rock Stars, and Deerhoof has remained on this label for the entirety of their career, ultimately becoming the longest-running artist on the label&#8217;s roster. Moon has described them as the &#8220;seminal classic KRS band&#8221;.</p>
<p>By the time the single was released, Greg and Rob were already feeling the first waves of creative restlessness that would characterize Deerhoof&#8217;s career. No longer able to afford their rehearsal studio, they began practicing in their kitchen, Greg hitting the drums with chopsticks, Rob plucking the bass with a cow hoof that doubled as his dog&#8217;s chew toy. They needed a singer, as their instrumental acrobatics precluded any ability to bring off the more melodic vocal ideas they were tentatively trying to bring into their sound. Through a mutual friend they met Satomi Matsuzaki, who had just arrived in SF from Tokyo. She had no musical experience whatsoever, but remarked dryly that she couldn&#8217;t possibly make Deerhoof any worse, and is on tour with the band within a week, opening three west coast shows for Caroliner.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/deerhoof/">Deerhoof</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Yacht</title>
		<link>http://murmurationfest.com/lineup/yacht/</link>
				<pubDate>Mon, 25 Apr 2016 15:16:24 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=435</guid>
				<description><![CDATA[<p>YACHT are artists based in Los Angeles. YACHT’s figureheads, Jona Bechtolt and Claire L. Evans, are opposing forces. It’d be generous to call Jona a high school dropout: he never attended a single day, choosing instead to literally “bang on the drum all day” as an outpatient in the teenage [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/yacht/">Yacht</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>YACHT are artists based in Los Angeles.</p>
<p>YACHT’s figureheads, Jona Bechtolt and Claire L. Evans, are opposing forces. It’d be generous to call Jona a high school dropout: he never attended a single day, choosing instead to literally “bang on the drum all day” as an outpatient in the teenage art ward. Claire was born in England, raised in France, and moved to Oregon to be watched after by the Intel corporation in the mid-1990s, during the height of the microprocessor boom. But the unlikely pairing is the source of their power.</p>
<p>YACHT’s new album, I Thought The Future Would Be Cooler, is a sweeping and visionary critique of the 21st century. It reveals the band at its most self-assured: critical, funny, tough, and musically diverse, crafting an infectious and hyperactive conceptual pop that seems to seep through the walls of an alternate universe. YACHT’s knowing references to technology, feminism, and media are layered in complex arrangements in songs about holograms and phones, police violence and identity, sex and the future.</p>
<p>This is the first YACHT album that Bechtolt and Evans didn’t create in a vacuum. Starting from the ground up, the pair wrote the album with their longtime collaborator and bandmate Rob Kieswetter, who also produced the album with Bechtolt (a first: Bechtolt has been YACHT’s sole producer since 2002). The result is a surprising and heterogeneous collection of songs that only YACHT could make. Grammy-winning Irish producer Jacknife Lee (REM, Bloc Party, Robbie Williams, Taylor Swift) stepped in as a hypercolor shaman of sorts, creating his own album-wide credit of “objective overseer and structural mechanic.” The album’s title track was co-produced with Justin Meldal-Johnsen (Beck, M83, Tegan and Sara) and its string arrangement was put together by pop polymath Jherek Bischoff (David Byrne, Caetano Veloso, Parenthetical Girls). The album was recorded over two years in Los Angeles at a handful of studios (Jacknife’s technicolor compound in Topanga Canyon, Meldal-Johnsen’s studio in Atwater Village, Red Bull’s studio in Santa Monica, and YACHT’s home studio) as well as in a former cavalry bunker in Marfa, Texas, at the Marfa Recording Company.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/yacht/">Yacht</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Dan Deacon</title>
		<link>http://murmurationfest.com/lineup/dan-deacon/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1095</guid>
				<description><![CDATA[<p>With the success of Dan Deacon’s 2007 album Spiderman of the Rings, came an opportunity for the electronic-music iconoclast to increase the breadth and depth of his entire musical project. Deacon moved from self-contained computer music to orchestral epics. His interactive live show, honed in DIY spaces, was taken to [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/dan-deacon/">Dan Deacon</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>With the success of Dan Deacon’s 2007 album Spiderman of the Rings, came an opportunity for the electronic-music iconoclast to increase the breadth and depth of his entire musical project. Deacon moved from self-contained computer music to orchestral epics. His interactive live show, honed in <span class="caps">DIY</span> spaces, was taken to museums and concert halls. He frequently expanded his performances to include a horde of side musicians. Gliss Riffer, an entirely self-produced record of almost all electronic sounds, is a return to Deacon’s Spiderman of the Rings-era process. He calls it “easily the most fun [he’s] ever had making a record.” After a string of large ensemble projects (including 2009’s Bromst and 2012’s America) Deacon longed for the “simplicity” of the days when he did nearly everything himself. So he made plans to sequester himself in his studio and conjure an album from the sketches and songs he had begun in the back of the van on the European leg of the America tour.</p>
<p>Those plans were upended when he received a last-minute invitation to tour with Arcade Fire in August. Rather than lose momentum by pushing back his recording schedule, Deacon continued to make the record on the road. “I was mixing and arranging in the green room before sound check and each night back at the hotel.” Deacon said, “On days off I’d find a studio to track vocals or mix. When a studio couldn’t be found I dismantled a hotel bathroom, sealing the vents with towels and using all the bedding to turn it into a control room.” This is his first record to showcase his newfound appreciation for his vocal cords, an appreciation he gained after going through an extended bout of laryngitis. “I started thinking about how the voice is an instrument that expires,” he said, “and that made me want to make an album with the voice more exposed.” And that he did. While Gliss Riffer contains all the instrumental layering we’ve come to expect, the vocals are mixed with a prominence (“Feel the Lightning,” “Learning to Relax”) and, at times, a clarity (“When I Was Done Dying”) that have never been heard on a Dan Deacon record before. All the vocals are performed by Deacon himself, even the female voice on “Feel the Lightning” is the product of vari-speed recording techniques.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/dan-deacon/">Dan Deacon</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Suuns</title>
		<link>http://murmurationfest.com/lineup/suuns/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1091</guid>
				<description><![CDATA[<p>Hold/Still, the third studio album from Suuns, is an enigmatic thing: an eerily beautiful, meticulously played suite of music that embraces opposites and makes a virtue of cognitive dissonance. It is a record that does not give up its secrets easily. The 11 songs within are simultaneously psychedelic, but austere; [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/suuns/">Suuns</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Hold/Still, the third studio album from Suuns, is an enigmatic thing: an eerily beautiful, meticulously played suite of music that embraces opposites and makes a virtue of cognitive dissonance. It is a record that does not give up its secrets easily. The 11 songs within are simultaneously psychedelic, but austere; sensual, but cold; organic, but electronic; tense sometimes to the brink of mania, but always retaining perfect poise and control. “There’s an element of this album that resists you as a listener, and I think that’s because of these constantly opposing forces,” says drummer Liam O’Neill. “Listen to the song ‘Brainwash’, for instance, “It’s a very soft, lyrical guitar song, existing alongside extremely aggressive and sparse drum textures. It inhabits these two worlds at the same time.”</p>
<p>From the beginning, Suuns (you pronounce it “soons”, and it translates as “zeroes” in Thai) have sought to do things differently. They formed in Montreal 2007, when singer/guitarist Ben Shemie and guitarist Joe Yarmush got together to work on some demos, soon to be joined by Liam, Ben’s old schoolfriend, on drums and Max Henry on synth. Their group’s first two records, 2010’s Zeroes QC and 2012’s Polaris Prize-nominated Images Du Futur – both released on Secretly Canadian – were immediate critical hits, and Suuns soon found themselves part of a late ‘00s musical renaissance in the city, alongside fellow groups like The Besnard Lakes, Islands and Land Of Talk. Still, at the same time, Suuns feel remote from the big, baroque ensembles and apocalyptic orchestras that typify the Montreal scene. “We write quite minimal music,” thinks Ben. “They’re not traditional song forms, sometimes they don’t really go anywhere – but they have their own kind of logic.” Or as Joe puts it: “It’s pop music, but sitting in this evil space.”</p>
<p>After two records produced by their friend Jace Lasek of The Besnard Lakes at his Montreal studio Breakglass, Suuns decided Hold/Still demanded a different approach. In May 2015, they decamped to Dallas, Texas to work with Grammywinning producer John Congleton (St Vincent, The War On Drugs, Sleater-Kinney). For three intense weeks, the four recorded in Congleton’s studio by day, the producer driving them to capture perfect live takes with virtually no overdubbing. At night, they returned to their cramped apartment and stewed. “Recording in Montreal, it’s more of a party atmosphere,” says Joe. “Here it felt like we were on a mission. We were looking for something to take us out of our element, or that might seep into our music.” Luckily, the effect was galvanizing. Under Congleton’s instruction, ‘Translate’ and ‘Infinity’, songs the group had been reworking for years, suddenly found their form.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/suuns/">Suuns</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Prince Rama</title>
		<link>http://murmurationfest.com/lineup/prince-rama/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1113</guid>
				<description><![CDATA[<p>Prince Rama’s Xtreme Now (in stores March 4, 2016) is the inaugural entry into what the band have coined as the “Extreme Sports Genre.” Inspired to musically match the metaphysical intensity of extreme sports’ death-defying feats, Prince Rama looked to their own personal flirtations with death and time-dilation. In a [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/prince-rama/">Prince Rama</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Prince Rama’s <em>Xtreme Now</em> (in stores March 4, 2016) is the inaugural entry into what the band have coined as the “Extreme Sports Genre.” Inspired to musically match the metaphysical intensity of extreme sports’ death-defying feats, Prince Rama looked to their own personal flirtations with death and time-dilation. In a womb shaped by countless hours of obsessively watching extreme sports videos and consuming dangerous quantities of Monster Energy drinks, <em>Xtreme Now</em> was violently born.</p>
<p>Working with acclaimed dance producer Alex Epton of XXXChange (Gang Gang Dance, Björk, Spank Rock, Panda Bear, The Kills), the new songs take on a more powerful, confident, fierce, infectious, all-encompassing, and accessible dance-club feeling than any other Prince Rama record—a fearless, visionary pop tour de force for the ghost-modern era that celebrates the ephemerality of life, dancing just at the edge of death’s gilded smile. Xtreme Now is the most extreme album Prince Rama has ever made.</p>
<p>The band’s often unpredictable live shows have been described by fans as “hypnotic and mesmerizing—the feeling of a stadium concert on acid,” incorporating elements of performance art, dance-club initiation rite, and vintage VH-1 hair-metal-bravado.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/prince-rama/">Prince Rama</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Sky-Pony</title>
		<link>http://murmurationfest.com/lineup/sky-pony/</link>
				<pubDate>Tue, 17 May 2016 19:06:18 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1106</guid>
				<description><![CDATA[<p>Sky-Pony serves up lush, lyrical, often cheeky indie-pop with a healthy dose of theatrics. They incorporate costumes, choreography and projections into their high-energy live shows. The Brooklyn-based band has been called &#8220;tight, fierce, hilarious and out of their minds&#8221; by The Wall Street Journal. The New Yorker Magazine writes, &#8220;The [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/sky-pony/">Sky-Pony</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Sky-Pony serves up lush, lyrical, often cheeky indie-pop with a healthy dose of theatrics. They incorporate costumes, choreography and projections into their high-energy live shows. The Brooklyn-based band has been called &#8220;tight, fierce, hilarious and out of their minds&#8221; by The Wall Street Journal. The New Yorker Magazine writes, &#8220;The glitter is plentiful, the performances poised, and the songs beguiling.&#8221; Popdose says they&#8217;re &#8220;adventurous, melodic, weird and absolutely brilliant.&#8221;</p>
<p>Sky-Pony is a collaboration between singer/actress <a href="http://www.laurenworsham.com/" target="_blank">Lauren Worsham</a> (Drama Desk Award winner and Tony Award nominee) and her musician/writer husband <a href="http://www.landoftrust.com/" target="_blank">Kyle Jarrow</a> (Obie Award winner), also featuring the talents of guitarist Kevin Wunderlich, drummer Perry Silver, bassist Eric Day, cellist David Blasher, and backup singers Jessi Suzuki and Kristin Piacentile. Their debut LP <a href="https://itunes.apple.com/us/album/beautiful-monster/id1051483030?app=itunes" target="_blank">Beautiful Monster</a> was released in December 2015 from Knitting Factory Records.</p>
<p>&nbsp;</p>
<h6>Photo: Jennifer Walkowiak</h6>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/sky-pony/">Sky-Pony</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>ICE</title>
		<link>http://murmurationfest.com/lineup/ice/</link>
				<pubDate>Wed, 18 May 2016 18:50:13 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1150</guid>
				<description><![CDATA[<p>Ice is an exercise in the art of total immersion. By way of her own singular blend of complex live electronics, Ice conjures soundscapes as layered as they are otherworldly. Punctuated by pulsating rhythms and vocals that range from the ethereal to something closer to total rage, Ice&#8217;s electronic melange [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/ice/">ICE</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Ice is an exercise in the art of total immersion. By way of her own singular blend of complex live electronics, Ice conjures soundscapes as layered as they are otherworldly. Punctuated by pulsating rhythms and vocals that range from the ethereal to something closer to total rage, Ice&#8217;s electronic melange is always cathartic, always hypnotizing, and her performances are never identical.</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/ice/">ICE</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Yowie</title>
		<link>http://murmurationfest.com/lineup/yowie/</link>
				<pubDate>Wed, 18 May 2016 19:11:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">http://murmurationfest.com/?post_type=events&#038;p=1101</guid>
				<description><![CDATA[<p>Since 2000, Yowie (St. Louis, MO) has been perfecting a unique form of progressive rock that incorporates polyrhythms, guitar dissonance, and odd metered grooves over the course of two studio albums and performances in thirteen countries. They are currently at work on their third LP. Members: Christopher Trull – guitar [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/yowie/">Yowie</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Since 2000, Yowie (St. Louis, MO) has been perfecting a unique form of progressive rock that incorporates polyrhythms, guitar dissonance, and odd metered grooves over the course of two studio albums and performances in thirteen countries. They are currently at work on their third LP.</p>
<h4>Members:</h4>
<p>Christopher Trull – guitar<br />
Jeremiah Wonsewitz – guitar<br />
The Defenestrator – drums</p>
<h4>Press:</h4>
<p>&#8220;In all of my musical listening, I can think of few bands that have had the same baffling effect on me as Yowie&#8230;in terms of musicianship, composition, and style- Yowie are incredibly impressive. If you’re open to a more dissonant and twisted shade of rock music, “Damning with Faint Praise” is highly recommended&#8221;  / Progsphere</p>
<p>&#8220;Warning: This album is strongly prohibited to persons with cardiovascular diseases, back or spine problems, recent surgical procedures, or pregnant women. Yowie is not for the faint of heart; it is a dazzlingly technical freak-force to be reckoned with&#8230;It is a beautiful cooperation of two well-versed guitarists performing sonic brain surgery on their audience, backed by wildly unpredictable drumming, complete with the utter demolition of his cymbals.&#8221; / Playback STL</p>
<p>&#8220;In the midst of some of the most virtuosically talented and respected musicians playing today, Yowie is singular&#8230;Watching them live is like witnessing a reptile birth a human; utterly perplexing, yet amazing&#8230;. Their songs move like symphonies, each one crafted in parts that come together to sound like time-lapses of a day in your life. The dual guitars warp around each other, the necks being bent, the floods of notes sounding at times like your uncle choking, then laughing, then wrecking his car&#8230;It is mind-bending music.&#8221; / kdhx.org</p>
<p>&#8220;To call Yowie an acquired taste would be a flagrant misrepresentation. Yowie is not something you can acquire…Music like this can&#8217;t be made by mere people and yet, you couldn&#8217;t write a computer program capable of producing this kind of brain damage. It&#8217;s so grand in composition but honed and microperfected until words like &#8220;tempo,&#8221; &#8220;rhythm&#8221; and &#8220;melody&#8221; become meaningless abstractions.&#8221; / Riverfront Times</p>
<h4>Select Discography:</h4>
<p>Cryptooology (2004, SkinGraft Records)<br />
Damning with Faint Praise (2012, SkinGraft Records)</p>
<p>The post <a rel="nofollow" href="http://murmurationfest.com/lineup/yowie/">Yowie</a> appeared first on <a rel="nofollow" href="http://murmurationfest.com">Murmuration Festival</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
