<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Murmuration Festival	</title>
	<atom:link href="http://murmurationfest.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://murmurationfest.com</link>
	<description>Art. Music. Science. Tech.</description>
	<lastBuildDate>Fri, 16 Sep 2016 17:49:19 -0500</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
			<item>
				<title>
				Comment on Get Tickets by [PREVIEW] Music of The St. Louis Murmuration Festival - I Went To A Show				</title>
				<link>http://murmurationfest.com/tickets/#comment-8</link>
		<dc:creator><![CDATA[[PREVIEW] Music of The St. Louis Murmuration Festival - I Went To A Show]]></dc:creator>
		<pubDate>Fri, 16 Sep 2016 17:49:19 +0000</pubDate>
		<guid isPermaLink="false">http://murmurationfest.com/?page_id=1872#comment-8</guid>
					<description><![CDATA[[&#8230;] Tickets are still available!  [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Tickets are still available!  [&#8230;]</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Get Tickets by 7 Reasons to Get Excited for Murmuration Festival - EQ				</title>
				<link>http://murmurationfest.com/tickets/#comment-7</link>
		<dc:creator><![CDATA[7 Reasons to Get Excited for Murmuration Festival - EQ]]></dc:creator>
		<pubDate>Thu, 18 Aug 2016 13:55:06 +0000</pubDate>
		<guid isPermaLink="false">http://murmurationfest.com/?page_id=1872#comment-7</guid>
					<description><![CDATA[[&#8230;] Did we convince you? Learn more about Murmuration Festival and grab your tickets here! [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Did we convince you? Learn more about Murmuration Festival and grab your tickets here! [&#8230;]</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Get Tickets by Arts + Culture News: Murmuration Festival Releases 2016 Daily Schedule &#8211; Alive Magazine Blog				</title>
				<link>http://murmurationfest.com/tickets/#comment-6</link>
		<dc:creator><![CDATA[Arts + Culture News: Murmuration Festival Releases 2016 Daily Schedule &#8211; Alive Magazine Blog]]></dc:creator>
		<pubDate>Fri, 05 Aug 2016 18:03:37 +0000</pubDate>
		<guid isPermaLink="false">http://murmurationfest.com/?page_id=1872#comment-6</guid>
					<description><![CDATA[[&#8230;] the 2016 Murmuration Festival are officially on sale to the public, and are available for purchase online. 4320 Forest Park Ave., Central West [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] the 2016 Murmuration Festival are officially on sale to the public, and are available for purchase online. 4320 Forest Park Ave., Central West [&#8230;]</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
